@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    background-color: black;
    color: white;
    text-align: center;
   
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgba(233, 5, 5, 0.226);

}


